.artist {
    /* position: flex;
    padding: 0;
    flex-direction: column;
    column-count: 10; */
}

.artist-container{
 display:flex; 
 padding: 20px;
}

.artist-list{
    display: grid;
    grid-template-columns: auto auto auto auto;

}