
*,*::before, *::after{
    box-sizing: border-box
}

body{
    background-color: #edeaea;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #edeaea;
}