.Country-link-container{
    position: relative;
    display: flex;
    margin:auto;
    width: auto;
    height:auto;
    padding: 20px;
    justify-content: space-between;
}

.m-item {
    position: relative;
    top: 0;
    width: 5.5em;
    background-color: black;
    box-shadow: white;
   

    padding: 0.2em;

    border-radius: 1em;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5em;
    color: #EDFFEC;
    cursor: pointer;

    transition: 1s;
    
}


