.navbar-container {
    background-color: #edeaea;
    border-radius: .5rem;
}
.navbar {
    background-color: #edeaea;
    display: flex;
    justify-content: space-between;
}

.navbar-links {
    padding-top: 75px;
}

.navbar-links > * {
    background-color: #edeaea;
    color: black !important;
    text-decoration: none;
    margin: 0;
    padding: 1em;
    font-size: large;
}

.navlink {
    color: black !important;
    text-decoration: none;
}

.logo {
    height: 150px;
    width: auto;
    background-color: #edeaea;
}
