.navbar-container {
    background-color: #edeaea;
    border-radius: .5rem;
}

.navbar-links > * {
    background-color: #edeaea;
    color: black !important;
    text-decoration: none;
    display:  inline-block;
    margin: 0;
    padding: 1em;
}

.navlink {
    color: black !important;
    text-decoration: none;
}

.logo {
    height: 10%;
    width: 10%
}
